.landingpage-body {
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin-top: 5vw;
    margin-left: 10vw;
	margin-right: 10vw;
}


.carousal-card {
    position: relative;
    color: white;
}

.carousal-card h1 {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    background: black;
    width: 100%;
}