.admain-contain
{
    background-color: rgb(250, 246, 246);
    margin-top: -5vh;
}

.addash-contain
{
    margin-top: 5vh;
    padding-top: 5vh;
    margin-left: 5vh;
    padding-bottom: 1vh;
    margin-bottom: 2vh;
}